@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.home-container {
  padding: 70px 135px 0 135px;
  min-height: 100vh;
  background: #28293e;
}
.home-container nav {
  display: flex;
  justify-content: space-between;
}
.home-container .agency {
  display: flex;

}
.home-container .agency .logo-box{
    position: relative;
}
.home-container .agency .logo-box .img-1{

}
.home-container .agency .logo-box .img-1{
    
}
.home-container .agency :nth-child(2) {
  position: absolute;
  margin: auto;
  top: 3px;
  bottom: 0;
  left: 13px;
}

.home-container nav .agency h1 {
  color: var(--text-light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  margin-left: 28px;
}
.home-container .aboutus {
  width: 515px;
}
.home-container nav .aboutus ul li {
  list-style-type: none;
}
.home-container nav .aboutus ul li a {
  color: var(--text-light, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  text-decoration: none;
}
.home-container nav .aboutus ul {
  display: flex;
  justify-content: space-between;
}
.home-container nav .button a {
  text-decoration: none;
  color: var(--text-light, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px;
  border-radius: 0px 1px 1px 0px;
  border: 1px solid white;
  padding: 10px 30px 10px 30px;
}
.home-container .texts {
  margin-top: 164px;
}
.home-container .texts h1 {
  color: var(--text-light, #fff);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 72px;
  font-style: normal;
  font-weight: 800;
  line-height: 80px;
  letter-spacing: -2px;
}
.home-container .texts p {
  color: var(--text-light-gray, rgba(255, 255, 255, 0.64));
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Epilogue;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 24px;
}
